*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(229, 224, 224);
}

.main{
    height: 60vh;
    width: 70%;
    box-shadow: 0 0 3px 2px rgba(0,0,0,0.5);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    position: relative;
    transition: all 0.5s ease;
}


.dark{
    background-color: rgb(25, 25, 25);
    color: white;
}

.dark button{
    background-color: lime;
    color: black;
}

.dark button:hover{
    color: white;
   
}

.dark h1{
    color: lime;
    margin-bottom: 10px;
}

.dark input{
    opacity: 0.8;
}

.img{
    position: absolute;
    right: 10px;
    top: 10px;
    border: 1px solid grey;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sun{
    height: 50px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.sun:hover{
    height: 45px;
}

.head{
    width: 60%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.head input{
    padding: 20px 32px;
    width: 70%;
    font-size: 22px;
    border-radius: 3px;
    outline: none;
    border:none;
    background: transparent;
    border-bottom: 1px solid #111;
    margin-right: 15px;
    transition: all 0.5s ease;
}

.dark input{
    background-color: transparent;
    color: white;
    border: 1px solid lime;
}

.addtodo{
    padding: 22px 30px;
    cursor: pointer;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 8px;
    background-color: black;
    color: white;
    transition: all 0.5s ease;
}

.addtodo:hover{
    color: yellow;
}

.todos-div{
    box-shadow: 0 0 2px 3px rgba(0,0,0,0.2);
    width: 60%;
    height: 90%;
    border-radius: 8px;
    overflow: auto;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    scrollbar-color: lime;
    scroll-padding: 10px;
    scroll-margin: 10px;
    opacity: 0;
    transition: all 0.5s ease;
}

.dark-todos{
    box-shadow: 0 0 2px 3px rgba(7, 168, 2, 0.643);
}

.todoCont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 15px 10px 15px;
    margin: 10px 20px;
    font-size: 22px;
    border-bottom: 1px solid dimgray;
    transition: all 0.5s ease;
}

.todoContDone{
    font-style: italic;
    background-color: green;
    border-radius: 8px;
    color: white;
    padding: 10px;
}

.todoContDone:hover buttons{
    border: none;
}

.todoCont:hover{
    box-shadow: 0 0 3px 2px rgba(0,0,0,0.2);
    border: none;
    border-radius: 8px;

}

.todoContLight{
    border: 1px solid white;
}

.todoContLight:hover{
    border: 1px solid white;
}

.redBox{
    font-size: 30px;
    color: red;
    padding: 10px;
    margin: 30px;
    
}

.btn-div-btn{
    display: inline;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 5px;
    height: 50%;
    border-radius: 50%;
    font-size: 18px;
    opacity:  0;
    transition: all 0.5s ease;
}

.btn-div-btn:hover{
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

.todoCont:hover .btn-div-btn{
    opacity: 1;
}

